HEYGEM_API_PORT=49202
INDEXTTS2_API_PORT=49204
HEYGEM_SHARED_HOST_DIR=D:/heygem-shared/face2face
HEYGEM_VOICE_HOST_DIR=D:/heygem-shared/voice/data
HEYGEM_VIDEO_IMAGE=guiji2025/duix.avatar-5090:latest
INDEXTTS2_IMAGE=guiji2025/indextts2-5090:latest
NVIDIA_VISIBLE_DEVICES=0
NVIDIA_DRIVER_CAPABILITIES=compute,graphics,utility,video,display
PYTORCH_CUDA_ALLOC_CONF=max_split_size_mb:512
